@charset "utf-8";

/* 공통요소 */
.sr-only {
    position: absolute;
    left: -9999px;
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    display: block;
    clear: both;
    content: '';
}

.n-fixed {
    position: fixed;
    left: 0;
    top: 0;
}

body {
    font-family: NanumSquare, sans-serif;
    overflow: hidden;
}

#wrap {
    min-width: 0px;
    /*삭제*/
    height: 100%;
}

/* 로딩중 */
.loading {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 1000;
}

.loading>div {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -81px 0 0 -81px;
    width: 162px;
    height: 162px;
    text-indent: -9999px;
    background-image: url(../images/running.gif);
}

.loading>div>p {
    position: absolute;
    width: 400px;
    color: #ff9915;
    font-size: 40px;
    font-weight: 600;
    bottom: -30px;
    text-indent: -100px;
}

#slides {
    position: relative;
    width: 100%;
    height: 100%;
}

/* 전체배경 .bgi */
#slides>.bgi {
    position: relative;
    left: 0;
    top: 0;
    width: 500%;
    height: 70%;
    text-indent: -9999px;
}

#slides>.bgi>li {
    float: left;
    width: 20%;
    height: 100%;
}

#slides>.bgi>li {
    position: relative;
}

/* 배경이미지 컬러 수정 or 삭제예정 */
#slides>.bgi>li:nth-child(1) {
    background-image: url(../images/sky.png);
}

#slides>.bgi>li:nth-child(2) {
    background-image: url(../images/sky.png);

}

#slides>.bgi>li:nth-child(3) {
    background-image: url(../images/sky.png);
}

#slides>.bgi>li:nth-child(4) {
    background-image: url(../images/sky.png);
}

#slides>.bgi>li:nth-child(5) {
    background-image: url(../images/sky.png);
}

/* 배경데코 요소 - 추가예정 */
#slides>.bgi>li>p {
    position: absolute;
    text-indent: -9999px;
}

#slides>.bgi>li:nth-child(1)>p:nth-child(1) {
    left: 20px;
    top: 20px;
    width: 128px;
    height: 128px;
    background-image: url(../images/sun.png);
    background-repeat: no-repeat;
}

#slides>.bgi>li:nth-child(1)>p:nth-child(2) {
    left: 110px;
    top: 12%;
    width: 200px;
    height: 100px;
    background-image: url(../images/cloud_1.png);
}

#slides>.bgi>li:nth-child(1)>p:nth-child(3) {
    left: 620px;
    top: 5%;
    width: 200px;
    height: 100px;
    background-image: url(../images/cloud_2.png);
}

#slides>.bgi>li:nth-child(1)>p:nth-child(4) {
    left: 420px;
    top: 5%;
    width: 76px;
    height: 49px;
    background-image: url(../images/cloud_3.png);
}

#slides>.bgi>li:nth-child(1)>p:nth-child(5) {
    left: 820px;
    top: 15%;
    width: 50px;
    height: 44px;
    background-image: url(../images/cloud_4.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

#slides>.bgi>li:nth-child(1)>p:nth-child(6) {
    left: 990px;
    top: 17%;
    width: 230px;
    height: 120px;
    background-image: url(../images/cloud_1.png);
    -webkit-background-size: cover;
    background-size: cover;
}

#slides>.bgi>li:nth-child(1)>p:nth-child(7) {
    left: 1420px;
    top: 12%;
    width: 200px;
    height: 100px;
    background-image: url(../images/cloud_2.png);
}

#slides>.bgi>li:nth-child(1)>p:nth-child(8) {
    left: 1600px;
    top: 17%;
    width: 40px;
    height: 44px;
    background-image: url(../images/cloud_4.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

/* 슬라이드컨테이너 */
#slides .slides-container {
    position: absolute;
    left: 0;
    bottom: 0%;
    height: 400px;
    width: 500%;

    background: -webkit-linear-gradient(rgba(8, 87, 152, 0) 0%, rgba(8, 87, 152, 1) 32%, rgba(8, 87, 152, 1) 51%, rgba(8, 87, 152, 1) 100%);
    background: -o-linear-gradient(rgba(8, 87, 152, 0) 0%, rgba(8, 87, 152, 1) 32%, rgba(8, 87, 152, 1) 51%, rgba(8, 87, 152, 1) 100%);
    background: linear-gradient(rgba(8, 87, 152, 0) 0%, rgba(8, 87, 152, 1) 32%, rgba(8, 87, 152, 1) 51%, rgba(8, 87, 152, 1) 100%);
    /* FF3.6-15 */
    /* Chrome10-25,Safari5.1-6 */
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00085798', endColorstr='#085798', GradientType=0);
}

#slides .slides-container:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    /*background-image: url(../images/teal.png);*/
    background-repeat: repeat-x;
    z-index: 10000;
}

#slides .slides-container>li {
    float: left;
    width: 20%;
}

/*******box1*******/
/* 클릭하면 라이트박스 나옴 */
#slides .box1>.opn {
    position: relative;
    height: 30px;
    width: 100%;
}

#slides .slides-container>.box1>.opn>.start_mnu {
    display: block;
    position: absolute;
    left: 62%;
    bottom: 40%;
    margin-left: -80px;
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    width: 240px;
    height: 50px;
}

/*심판*/
#slides .slides-container>.box1>.opn>.referee {
    display: block;
    position: absolute;
    left: 62%;
    bottom: -332%;
    margin-left: -20px;
    width: 62px;
    height: 111px;
    font-size: 20px;
    text-indent: -9999px;
}

#slides .slides-container>.box1>.opn>.referee>img {
    display: block;
    width: 62px;
    height: 111px;
}

/*click 아이콘*/
#slides .slides-container>.box1>.opn>.referee>span {
    position: absolute;
    top: 20px;
    left: 70px;
    display: block;
    width: 71px;
    height: 36px;
    background-size: cover;
    background-image: url(../images/click.png);

    animation-name: click;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes click {
    0% {
        opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    }

    30% {
        opacity: 1;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }

    100% {
        opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    }

}

/* 라이트박스 1-start*/
#slides .box1>.shadow {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 900;
}

#slides .box1 .lightbox {
    overflow-y: auto;
    position: absolute;
    left: 10%;
    top: 7.5%;
    width: 80%;
    height: 85%;
    color: #000;
    font-weight: 800;
    text-align: center;
    font-size: 17px;
    background-color: #fff;
    text-transform: uppercase;
    outline: 2px solid #A8A8A8;
    overflow-y: hidden;
}

#slides .box1>.shadow>.lightbox>p {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #fff;
    outline: 2px solid #a8a8a8;
}

#slides .box1>.shadow>.lightbox>p:after {
    display: block;
    position: absolute;
    top: 135px;
    left: 50%;
    margin-left: -40%;
    width: 80%;
    height: 1680%;
    outline: 2px solid #000;
    content: '';
}

/*문구*/
#slides .box1>.shadow>.lightbox>p>span {
    display: block;
    position: absolute;
    top: 120px;
    width: 100%;
    color: #000;
    font-weight: 400;
}

#slides .box1>.shadow>.lightbox>p>span:nth-child(1) {
    top: 120px;
    left: 50%;
    width: 140px;
    height: 40px;
    margin-left: -70px;
    padding: 0 10px;
    font-size: 30px;
    text-transform: initial;
    font-weight: 800;
    background-color: #fff;
    z-index: 100;
}

/*고양이*/
#slides .box1>.shadow>.lightbox>p>span:nth-child(1):after {
    display: block;
    position: absolute;
    top: 70px;
    left: 50%;
    margin-left: -40px;
    width: 70px;
    height: 50px;
    background-image: url(../images/cat.png);
    content: '';
}

#slides .box1>.shadow>.lightbox>p>span:nth-child(2) {
    top: 270px;
    line-height: 1.6;
    z-index: 100;
}

#slides .box1>.shadow>.lightbox>p>span:nth-child(3) {
    position: relative;
    top: 520px;
    height: 100%;
    z-index: 100;
}

#slides .box1>.shadow>.lightbox>p>span:nth-child(3)>span {
    display: block;
    position: absolute;
    top: 0;
    width: 40%;
    left: 30%;
    text-indent: -9999px;
    background-color: #FF8300;
}

#slides .box1>.shadow>.lightbox>p>span:nth-child(3):before {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -20%;
    width: 40%;
    height: 87%;
    border: 2px solid #000;
    content: '';
    z-index: 10;
}

#slides .box1>.shadow>.lightbox>p>span:nth-child(3)>button {
    background: none;
    border: none;
    outline: none;
    width: 40px;
    height: 30px;
    margin-left: 47%;
    text-transform: uppercase;
    font-weight: 800;
    border: 2px solid #000;
    border-radius: 5px;
    cursor: pointer;
}

#slides .box1>.shadow>.lightbox>p>span:nth-child(3)>button:after {
    display: block;
    position: absolute;
    width: 71px;
    height: 36px;
    margin-top: -70px;
    background-image: url(../images/click.png);
    animation-name: click;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    content: '';
}

#slides .box1>.shadow>.lightbox>p>span:nth-child(3)>button:hover {
    color: #fff;
    background-color: #000;
}

#slides .box1>.shadow>.lightbox>p>span:nth-child(4) {
    left: 50%;
    top: 500px;
    margin-left: -181px;
    width: 362px;
    height: 52px;
    text-indent: -9999px;
    background-image: url(../images/shine.png);

    animation-name: shine;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes shine {
    0% {
        opacity: 1;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }

    30% {
        opacity: 0;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    }

    50% {
        opacity: 1;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }

    100% {
        opacity: 1;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    }

}

#slides .box1>.shadow>.lightbox>.clse {
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 20px;
    top: 0;
    right: 0;
    color: #000;
    background-color: #fff;
    border: none;
    border-left: 1px solid #a8a8a8;
    cursor: pointer;
}

/*start*/
@media screen and (max-width:768px) {

    /*****************************************/
    #slides .box1>.shadow {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 900;
    }

    #slides .box1 .lightbox {
        position: absolute;
        left: 2.5%;
        /*수정*/
        top: 2.5%;
        /*수정*/
        width: 95%;
        /*수정*/
        height: 95%;
        /*수정*/
        color: #000;
        font-weight: 800;
        text-align: center;
        font-size: 17px;
        background-color: #fff;
        text-transform: uppercase;
        outline: 2px solid #A8A8A8;
        overflow-y: hidden;
    }

    #slides .box1>.shadow>.lightbox>p {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 30px;
        line-height: 30px;
        background-color: #fff;
        outline: 2px solid #a8a8a8;
    }

    /*부모 p값의 height값이 30이라 라이트박스에 가상선택자 적용함.*/
    #slides .box1>.shadow>.lightbox:after {
        display: block;
        /*수정*/
        position: absolute;
        /*수정*/
        top: 75px;
        /*수정*/
        left: 50%;
        /*수정*/
        margin-left: -40%;
        /*수정*/
        width: 80%;
        /*수정*/
        height: 85%;
        /*수정*/
        outline: 2px solid #000;
        /*수정*/
        content: '';
        /*수정*/
    }

    #slides .box1>.shadow>.lightbox>p:after {
        display: none;
        /*수정*/
    }

    /*문구*/
    #slides .box1>.shadow>.lightbox>p>span {
        display: block;
        position: absolute;
        top: 120px;
        width: 100%;
        color: #000;
        font-weight: 400;
    }

    #slides .box1>.shadow>.lightbox>p>span:nth-child(1) {
        top: 55px;
        /*수정*/
        left: 50%;
        width: 140px;
        height: 40px;
        margin-left: -70px;
        padding: 0 10px;
        font-size: 30px;
        text-transform: initial;
        font-weight: 800;
        background-color: #fff;
        z-index: 100;
    }

    /*고양이*/
    #slides .box1>.shadow>.lightbox>p>span:nth-child(1):after {
        display: block;
        position: absolute;
        top: 50px;
        /*수정*/
        left: 50%;
        margin-left: -40px;
        width: 70px;
        height: 50px;
        background-image: url(../images/cat.png);
        content: '';
    }

    #slides .box1>.shadow>.lightbox>p>span:nth-child(2) {
        top: 170px;
        /*수정*/
        line-height: 1.6;
        z-index: 100;
    }

    #slides .box1>.shadow>.lightbox>p>span:nth-child(3) {
        position: relative;
        top: 520px;
        height: 100%;
        z-index: 100;
    }

    #slides .box1>.shadow>.lightbox>p>span:nth-child(3)>span {
        display: block;
        position: absolute;
        top: 0;
        width: 40%;
        left: 30%;
        text-indent: -9999px;
        background-color: #FF8300;
    }

    #slides .box1>.shadow>.lightbox>p>span:nth-child(3):before {
        display: block;
        position: absolute;
        left: 50%;
        margin-left: -20%;
        width: 40%;
        height: 87%;
        border: 2px solid #000;
        content: '';
        z-index: 10;
    }

    #slides .box1>.shadow>.lightbox>p>span:nth-child(3)>button {
        background: none;
        border: none;
        outline: none;
        width: 40px;
        height: 30px;
        margin-left: 47%;
        text-transform: uppercase;
        font-weight: 800;
        border: 2px solid #000;
        border-radius: 5px;
        cursor: pointer;
    }

    #slides .box1>.shadow>.lightbox>p>span:nth-child(3)>button:after {
        display: block;
        position: absolute;
        width: 71px;
        height: 36px;
        margin-top: -70px;
        background-image: url(../images/click.png);
        animation-name: click;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        content: '';
    }

    #slides .box1>.shadow>.lightbox>p>span:nth-child(3)>button:hover {
        color: #fff;
        background-color: #000;
    }

    #slides .box1>.shadow>.lightbox>p>span:nth-child(4) {
        left: 50%;
        top: 500px;
        margin-left: -181px;
        width: 362px;
        height: 52px;
        text-indent: -9999px;
        background-image: url(../images/shine.png);

        animation-name: shine;
        animation-duration: 0.9s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes shine {
        0% {
            opacity: 1;
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        }

        30% {
            opacity: 0;
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
        }

        50% {
            opacity: 1;
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        }

        100% {
            opacity: 1;
            filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        }

    }

    #slides .box1>.shadow>.lightbox>.clse {
        position: absolute;
        width: 30px;
        height: 30px;
        font-size: 20px;
        top: 0;
        right: 0;
        color: #000;
        background-color: #fff;
        border: none;
        border-left: 1px solid #a8a8a8;
        cursor: pointer;
    }



    /*****************************************/






}

/*end of box1*/

/********box2********/
.box2>.opn {
    position: relative;
    height: 30px;
    width: 100%;
}

.box2>.opn>p:nth-child(1) {
    width: 100%;
    height: 140px;
    text-indent: -9999px;
    background-image: url(../images/blcok.png);
    -webkit-background-size: 19.5%;
    background-size: 19.5%;

}

.box2>.opn>p:nth-child(2) {
    position: absolute;
    left: 10px;
    top: -45px;
    width: 70px;
    height: 50px;
    text-indent: -9999px;
    background-image: url(../images/cat.png);

}

.box2>.opn>.aboutme_mnu {
    display: block;
    position: absolute;
    left: 62%;
    bottom: 49%;
    /*기존 값 :40p*/
    margin-left: -170px;
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    width: 240px;
    height: 50px;
}

/*photo*/
.box2>.opn>.photo {
    display: block;
    position: absolute;
    top: 10px;
    left: 50%;
    width: 300px;
    height: 110px;
    background-image: url(../images/photo2.png);
    transition: all 1s;
}

.box2>.opn>.photo:hover {
    background-image: url(../images/photo_hover.png);
    transition: all 1s;
}

/*click 아이콘*/
.box2>.opn>.photo>span {
    position: absolute;
    top: -170px;
    left: 115px;
    display: block;
    width: 71px;
    height: 91px;
    text-indent: -9999px;
    transform: rotate(180deg);
    background-size: cover;
    background-image: url(../images/cursor.png);

    animation-name: cursor;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes cursor {
    0% {
        top: -170px;
    }

    30% {
        top: -180px;
    }

    100% {
        top: -170px;
    }

}

/* 라이트박스 box2 */
.box2>.shadow {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 900;
}

.box2>.shadow>.lightbox {
    position: relative;
    left: 13%;
    top: 2.5%;
    width: 76%;
    height: 95%;
    color: #000;
    font-weight: 800;
    text-align: center;
    font-size: 17px;
    background-color: #F1F1F1;
    text-transform: uppercase;
    outline: 2px solid #A8A8A8;
}

.box2>.shadow>.lightbox>p {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #dedede;
}

/*닫기*/
.box2>.shadow>.lightbox>.clse {
    width: 30px;
    height: 30px;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0px;
    color: #A3A3A3;
    background-color: #F1F1F1;
    border: 1px solid #dedede;
    cursor: pointer;
}

/*내용*/
.box2>.shadow>.lightbox>div {
    position: absolute;
    top: 30px;
    width: 100%;
    height: 96%;
    /*overflow-y: scroll;*/
}

/*배경의 나, 카메라 등 데코레이션*/
.aboutme_deco {
    position: relative;
}

.aboutme_deco>span {
    display: block;
    position: absolute;
    text-indent: -9999px;
    z-index: 1;
}

.aboutme_deco>span:nth-child(1) {
    left: 420px;
    bottom: 50%;
    width: 59px;
    height: 105px;
    background-image: url(../images/aboutme/aboutme_center_me.png);
}

.aboutme_deco>span:nth-child(2) {
    bottom: 62%;
    left: 480px;
    width: 59px;
    height: 52px;
    background-image: url(../images/aboutme/aboutme_center_camera.png);
}

.aboutme_deco>span:nth-child(3) {
    width: 36px;
    height: 36px;
    top: 10px;
    left: 10px;
    background-image: url(../images/aboutme/aboutme_top_me.png);
}

.aboutme_deco>span:nth-child(4) {
    left: 53px;
    top: 15px;
    width: 35px;
    height: 10px;
    background-image: url(../images/aboutme/aboutme_top_heart.png);
}

/*.aboutme_deco>span:nth-child(5){
    width: 70px;
    height: 37px;
    background-image: url(../images/aboutme/aboutme_flowerandme.png);
}*/

/*내용 aboutme */

.about {
    position: relative;
    font-weight: 400;
    background-image: url(../images/aboutme/aboutme_bg_bigsize.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.about>div {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

/*텍스트박스*/
.about>div>.text_box {
    position: absolute;
    top: 55%;
    left: 50%;
    margin-left: -47.5%;
    width: 95%;
    height: 40%;
    background-color: #442f56;
    outline: 3px solid #fff;
}

.about>div>.text_box>span {
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #fff;

}

.about>div>.text_box>div {}

.about>div>.text_box>div>span {
    display: block;
    position: absolute;
}

.about>div>.text_box>div>span:nth-child(1) {
    top: 10%;
    left: 40px;
    width: 56px;
    height: 56px;
    background-image: url(../images/aboutme/aboutme_talk_me.png);
}

.about>div>.text_box>div>span:nth-child(2) {
    top: 12%;
    left: 110px;
    width: 30px;
    height: 18px;
    background-image: url(../images/aboutme/aboutme_talk_arrow.png);
}

/*텍스트박스 테두리 점 효과*/
.about>div>.text_box>span:nth-child(1) {
    top: 0;
    left: 0;
}

.about>div>.text_box>span:nth-child(2) {
    bottom: 0;
    left: 0;
}

.about>div>.text_box>span:nth-child(3) {
    bottom: 0;
    right: 0;
}

.about>div>.text_box>span:nth-child(4) {
    top: 0;
    right: 0;
}

/*프로필 등의 텍스트*/
.about>div ul.on {
    display: block;
}

.about>div ul {
    display: none;
    position: absolute;
    top: 57.9%;
    left: 210px;
    right: 7%;
    width: 70%;
    color: #fff;
    text-align: initial;
    /*outline: 1px solid red;*/
}

.about>div ul:nth-child(5),
.about>div>ul:nth-child(3),
.about>div>ul:nth-child(4) {
    display: none;
}

.about>div ul>li {
    font-weight: 300;
    line-height: 1.57;
}

.about>div ul>li:nth-child(1) {
    font-size: 29px;
    font-weight: 600;
    padding-bottom: 12px;
}

.about>div ul>li>a {
    display: inline-block;
    color: #dedede;
}

.about>div ul>li>a:hover {
    color: pink;
}

/*이전다음버튼*/
.next_prv_btn {}

.next_prv_btn>a {
    display: block;
    position: absolute;
    bottom: 25px;
    width: 50px;
    height: 20px;
    color: #000;
    font-size: 14px;
    outline: 3px solid #000;
    background-color: #fff;
    z-index: 100;
}

.next_prv_btn>a:hover {
    background-color: #FF8300;
}

.next_prv_btn>a:nth-child(1) {
    left: 20px;
}

.next_prv_btn>a:nth-child(2) {
    right: 20px;
}

/*aboutme*/
@media screen and (max-width:768px) {
    .box2>.opn {
        position: relative;
        height: 30px;
        width: 100%;
    }

    .box2>.opn>p:nth-child(1) {
        width: 100%;
        height: 140px;
        text-indent: -9999px;
        background-image: url(../images/blcok.png);
        -webkit-background-size: 49.5%;
        /*수정*/
        background-size: 49.5%;
        /*수정*/

    }

    .box2>.opn>p:nth-child(2) {
        position: absolute;
        left: 10px;
        top: -45px;
        width: 70px;
        height: 50px;
        text-indent: -9999px;
        background-image: url(../images/cat.png);

    }

    .box2>.opn>.aboutme_mnu {
        display: block;
        position: absolute;
        left: 62%;
        bottom: 49%;
        /*기존 값 :40p*/
        margin-left: -170px;
        color: #fff;
        font-size: 60px;
        font-weight: 500;
        text-transform: uppercase;
        width: 240px;
        height: 50px;
    }

    /*photo*/
    .box2>.opn>.photo {
        display: block;
        position: absolute;
        top: 10px;
        left: 25%;
        /*수정*/
        width: 300px;
        height: 110px;
        background-image: url(../images/photo2.png);
        transition: all 1s;
    }

    .box2>.opn>.photo:hover {
        background-image: url(../images/photo_hover.png);
        transition: all 1s;
    }

    /*click 아이콘*/
    .box2>.opn>.photo>span {
        position: absolute;
        top: -170px;
        left: 115px;
        display: block;
        width: 71px;
        height: 91px;
        text-indent: -9999px;
        transform: rotate(180deg);
        background-size: cover;
        background-image: url(../images/cursor.png);

        animation-name: cursor;
        animation-duration: 1s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    @keyframes cursor {
        0% {
            top: -170px;
        }

        30% {
            top: -180px;
        }

        100% {
            top: -170px;
        }

    }

    /* 라이트박스 box2 */
    .box2>.shadow {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 900;
    }

    .box2>.shadow>.lightbox {
        position: relative;
        left: 13%;
        top: 2.5%;
        width: 76%;
        height: 95%;
        color: #000;
        font-weight: 800;
        text-align: center;
        font-size: 17px;
        background-color: #F1F1F1;
        text-transform: uppercase;
        outline: 2px solid #A8A8A8;
    }

    .box2>.shadow>.lightbox>p {
        position: absolute;
        top: 0px;
        width: 100%;
        height: 30px;
        line-height: 30px;
        background-color: #dedede;
    }

    /*닫기*/
    .box2>.shadow>.lightbox>.clse {
        width: 30px;
        height: 30px;
        font-size: 20px;
        position: absolute;
        top: 0;
        right: 0px;
        color: #A3A3A3;
        background-color: #F1F1F1;
        border: 1px solid #dedede;
        cursor: pointer;
    }

    /*내용*/
    .box2>.shadow>.lightbox>div {
        position: absolute;
        top: 30px;
        width: 100%;
        height: 96%;
        /*overflow-y: scroll;*/
    }

    /*배경의 나, 카메라 등 데코레이션*/
    .aboutme_deco {
        position: relative;
    }

    .aboutme_deco>span {
        display: block;
        position: absolute;
        text-indent: -9999px;
        z-index: 1;
    }

    .aboutme_deco>span:nth-child(1) {
        left: 420px;
        bottom: 50%;
        width: 59px;
        height: 105px;
        background-image: url(../images/aboutme/aboutme_center_me.png);
    }

    .aboutme_deco>span:nth-child(2) {
        bottom: 62%;
        left: 480px;
        width: 59px;
        height: 52px;
        background-image: url(../images/aboutme/aboutme_center_camera.png);
    }

    .aboutme_deco>span:nth-child(3) {
        width: 36px;
        height: 36px;
        top: 10px;
        left: 10px;
        background-image: url(../images/aboutme/aboutme_top_me.png);
    }

    .aboutme_deco>span:nth-child(4) {
        left: 53px;
        top: 15px;
        width: 35px;
        height: 10px;
        background-image: url(../images/aboutme/aboutme_top_heart.png);
    }

    /*.aboutme_deco>span:nth-child(5){
        width: 70px;
        height: 37px;
        background-image: url(../images/aboutme/aboutme_flowerandme.png);
    }*/

    /*내용 aboutme */

    .about {
        position: relative;
        font-weight: 400;
        background-image: url(../images/aboutme/aboutme_bg_bigsize.png);
        -webkit-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .about>div {
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
    }

    /*텍스트박스*/
    .about>div>.text_box {
        position: absolute;
        top: 55%;
        left: 50%;
        margin-left: -47.5%;
        width: 95%;
        height: 40%;
        background-color: #442f56;
        outline: 3px solid #fff;
    }

    .about>div>.text_box>span {
        display: block;
        position: absolute;
        width: 5px;
        height: 5px;
        background-color: #fff;

    }

    .about>div>.text_box>div {}

    .about>div>.text_box>div>span {
        display: block;
        position: absolute;
    }

    .about>div>.text_box>div>span:nth-child(1) {
        top: 10%;
        left: 40px;
        width: 56px;
        height: 56px;
        background-image: url(../images/aboutme/aboutme_talk_me.png);
    }

    .about>div>.text_box>div>span:nth-child(2) {
        top: 12%;
        left: 110px;
        width: 30px;
        height: 18px;
        background-image: url(../images/aboutme/aboutme_talk_arrow.png);
    }

    /*텍스트박스 테두리 점 효과*/
    .about>div>.text_box>span:nth-child(1) {
        top: 0;
        left: 0;
    }

    .about>div>.text_box>span:nth-child(2) {
        bottom: 0;
        left: 0;
    }

    .about>div>.text_box>span:nth-child(3) {
        bottom: 0;
        right: 0;
    }

    .about>div>.text_box>span:nth-child(4) {
        top: 0;
        right: 0;
    }

    /*프로필 등의 텍스트*/
    .about>div ul.on {
        display: block;
    }

    .about>div ul {
        display: none;
        position: absolute;
        top: 57.9%;
        left: 210px;
        right: 7%;
        width: 70%;
        color: #fff;
        text-align: initial;
        /*outline: 1px solid red;*/
    }

    .about>div ul:nth-child(5),
    .about>div>ul:nth-child(3),
    .about>div>ul:nth-child(4) {
        display: none;
    }

    .about>div ul>li {
        font-weight: 300;
        line-height: 1.57;
    }

    .about>div ul>li:nth-child(1) {
        font-size: 29px;
        font-weight: 600;
        padding-bottom: 12px;
    }

    .about>div ul>li>a {
        display: inline-block;
        color: #dedede;
    }

    .about>div ul>li>a:hover {
        color: pink;
    }

    /*이전다음버튼*/
    .next_prv_btn {}

    .next_prv_btn>a {
        display: block;
        position: absolute;
        bottom: 25px;
        width: 50px;
        height: 20px;
        color: #000;
        font-size: 14px;
        outline: 3px solid #000;
        background-color: #fff;
        z-index: 100;
    }

    .next_prv_btn>a:hover {
        background-color: #FF8300;
    }

    .next_prv_btn>a:nth-child(1) {
        left: 20px;
    }

    .next_prv_btn>a:nth-child(2) {
        right: 20px;
    }
}

/*end of .box2*/


/*skill*/

.box3>.opn {
    position: relative;
    height: 30px;
    width: 100%;
}

.box3>.opn>p:nth-child(1) {
    width: 100%;
    height: 140px;
    text-indent: -9999px;
    background-image: url(../images/blcok.png);
    -webkit-background-size: 19.5%;
    background-size: 19.5%;

}

.box3>.opn>p:nth-child(2) {
    position: absolute;
    left: 10px;
    top: -45px;
    width: 70px;
    height: 50px;
    text-indent: -9999px;
    background-image: url(../images/cat.png);

}

.box3>.opn>.skills_mnu {
    display: block;
    position: absolute;
    top: -98px;
    left: 62%;
    bottom: 40%;
    margin-left: -10px;
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    width: 160px;
    height: 50px;
}

.box3>.opn>.skills_mnu:after {
    display: block;
    width: 127px;
    height: 150px;
    margin: 23px 0 0 5px;
    background-image: url(../images/skills/book.png);
    -webkit-background-size: cover;
    background-size: cover;
    content: '';
}

.box3>.opn>.skills_mnu:before {
    display: block;
    margin-left: 150px;
    width: 71px;
    height: 36px;
    background-image: url(../images/click.png);
    content: '';
    animation-name: click;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

/*click 아이콘*/
.box3>.opn>.photo>span {
    position: absolute;
    top: -170px;
    left: 115px;
    display: block;
    width: 71px;
    height: 91px;
    text-indent: -9999px;
    transform: rotate(180deg);
    background-size: cover;
    background-image: url(../images/cursor.png);

    animation-name: cursor;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes cursor {
    0% {
        top: -170px;
    }

    30% {
        top: -180px;
    }

    100% {
        top: -170px;
    }

}

/* 라이트박스 box3 */
.box3>.shadow {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 900;
}

.box3>.shadow>.lightbox {
    position: relative;
    left: 13%;
    top: 2.5%;
    width: 76%;
    height: 95%;
    color: #000;
    font-weight: 800;
    text-align: center;
    font-size: 17px;
    background-color: #F1F1F1;
    text-transform: uppercase;
    outline: 2px solid #A8A8A8;

}

.box3>.shadow>.lightbox>div {
    position: absolute;
    top: 30px;
    width: 100%;
    height: 96%;
    /*overflow-y: scroll;*/
}

.box3>.shadow>.lightbox>p {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #dedede;

}

/*닫기*/
.box3>.shadow>.lightbox>.clse {
    width: 30px;
    height: 30px;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0px;
    color: #A3A3A3;
    background-color: #F1F1F1;
    border: 1px solid #dedede;
    cursor: pointer;
}

.ability {
    position: relative;
    /*text-decoration: initial;*/
    text-align: left;
    font-size: 13x;

}

.ability>ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ability>ul>li:nth-child(1) {
    width: 100%;
    height: 100%;
    background-image: url(../images/skills/skillsbook2.png);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
}

.ability>ul>li:nth-child(2) {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 36px;
    height: 36px;
    background-image: url(../images/aboutme/aboutme_top_me.png);
}

.ability>ul>li:nth-child(3) {
    position: absolute;
    left: 53px;
    top: 15px;
    width: 35px;
    height: 10px;
    background-image: url(../images/aboutme/aboutme_top_heart.png);
}

.ability>div {
    margin: 100px 80px 0;
}

.ability>div>div {
    position: relative;
    margin: 2% 5%;

    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
}

.ability>div>.skillbook_tit {
    font-size: 20px;
    text-align: left;
    background: none;
    border: none;
}

.ability>div>div>span {
    display: block;

}

.ability>div>.zen>.ico {
    background-image: url(../images/skills/zen.png);
}

.ability>div>.html>.ico {
    background-image: url(../images/skills/html.png);
}

.ability>div>.css>.ico {
    background-image: url(../images/skills/css.png);
}

.ability>div>.js>.ico {
    background-image: url(../images/skills/js.png);
}

.ability>div>.web>.ico {
    background-image: url(../images/skills/web.png);
}

.ability>div>.psai>.ico {
    background-image: url(../images/skills/psai.png);
}

.ability>div>div>.ico {
    float: left;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    text-indent: -9999px;

}

.ability>div>div h3 {
    font-size: 16px;
    margin-bottom: 5px;

}

.ability>div>div p {
    color: #13334E;
    float: left;
    font-size: 13px;
    line-height: 1.6;
}

.ability>div>div .percent {
    position: absolute;
    right: 0;
}




.abilty_tag {}

.abilty_tag>ul {
    margin-top: 30px;
}

.abilty_tag>ul>li {
    float: left;
}


/*box4*/
.box4>.shadow {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 900;
}

.box4>.shadow>.lightbox {
    position: relative;
    left: 12.5%;
    top: 5%;
    width: 75%;
    height: 90%;
    color: #000;
    font-weight: 800;
    text-align: center;
    font-size: 17px;
    background-color: #F1F1F1;
    text-transform: uppercase;
    outline: 2px solid #A8A8A8;

}

.box4>.shadow>.lightbox>p {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #dedede;

}

/*닫기*/
.box4>.shadow>.lightbox>.clse {
    width: 30px;
    height: 30px;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0px;
    color: #A3A3A3;
    background-color: #F1F1F1;
    border: 1px solid #dedede;
    cursor: pointer;
}

/*포트폴리오 아이콘*/
.box4>.opn>.portfolio_mnu {
    display: block;
    position: relative;
    top: -58px;
    left: 52%;
    bottom: 40%;
    margin-left: -10px;
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    width: 160px;
    height: 50px;
}

.box4>.opn>.portfolio_mnu:after {
    display: block;
    width: 251px;
    height: 61px;
    margin: 23px 0 0 32px;
    background-image: url(../images/brick4.png);
    -webkit-background-size: cover;
    background-size: cover;
    content: '';
}

.box4>.opn>.portfolio_mnu:before {
    display: block;
    position: absolute;
    top: 20px;
    left: 0;
    margin: 40px 0 0 130px;
    width: 71px;
    height: 91px;
    background-image: url(../images/cursor.png);
    -webkit-background-size: cover;
    background-size: cover;
    content: '';
    transform: rotate(180deg);
    animation-name: cursor;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes cursor {
    0% {
        top: -170px;
    }

    30% {
        top: -180px;
    }

    100% {
        top: -170px;
    }

}

.portfolio {
    width: 100%;
    height: 100%;
    background-color: #000;
}

.portfolio .text_box {
    position: absolute;
    top: 55%;
    left: 50%;
    margin-left: -47.5%;
    width: 95%;
    height: 40%;
    background-color: #442f56;
    outline: 3px solid #fff;
}

.portfolio .text_box>span {
    display: block;
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: #fff;

}

.portfolio .text_box>div {}

.portfolio .text_box>div>span {
    display: block;
    position: absolute;
}

.portfolio .text_box>div>span:nth-child(1) {
    top: 10%;
    left: 40px;
    width: 56px;
    height: 56px;
    background-image: url(../images/aboutme/aboutme_talk_me.png);
}

.portfolio .text_box>div>span:nth-child(2) {
    top: 12%;
    left: 110px;
    width: 30px;
    height: 18px;
    background-image: url(../images/aboutme/aboutme_talk_arrow.png);
}

/*텍스트박스 테두리 점 효과*/
.portfolio .text_box>span:nth-child(1) {
    top: 0;
    left: 0;
}

.portfolio .text_box>span:nth-child(2) {
    bottom: 0;
    left: 0;
}

.portfolio .text_box>span:nth-child(3) {
    bottom: 0;
    right: 0;
}

.portfolio .text_box>span:nth-child(4) {
    top: 0;
    right: 0;
}

/*프로필 등의 텍스트*/
.portfolio>div ul.on {
    display: block;
}

.portfolio>div ul {
    display: none;
    position: absolute;
    top: 57.9%;
    left: 210px;
    right: 7%;
    width: 70%;
    color: #fff;
    text-align: initial;
    /*outline: 1px solid red;*/
}

.portfolio>div ul:nth-child(5),
.about>div>ul:nth-child(3),
.about>div>ul:nth-child(4) {
    display: none;
}

.portfolio>div ul>li {
    font-weight: 300;
    line-height: 1.57;
}

.portfolio>div ul>li:nth-child(1) {
    position: absolute;
    top: -345px;
    left: 50%;
    margin-left: -271.5px;
    width: 403px;
    height: 308px;

    background-image: url(../images/portfolio/notebook.png);
    /*삭제예정*/
}

.portfolio>div ul:nth-child(1)>li:nth-child(1) {
    background-image: url(../images/portfolio/63.png);
}

.portfolio>div ul:nth-child(2)>li:nth-child(1) {
    background-image: url(../images/portfolio/naver.png);
}

.portfolio>div ul:nth-child(3)>li:nth-child(1) {
    background-image: url(../images/portfolio/sampyo.png);
}

.portfolio>div ul:nth-child(4)>li:nth-child(1) {
    background-image: url(../images/portfolio/tous.png);
}

.portfolio>div ul:nth-child(5)>li:nth-child(1) {
    background-image: url(../images/portfolio/line.png);
}

.portfolio>div ul:nth-child(6)>li:nth-child(1) {
    background-image: url(../images/portfolio/last.png);
}

.portfolio>div ul>li:nth-child(2) {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}

.portfolio>div ul>li:nth-child(2)>span {
    display: block;
    position: absolute;
    top: 180px;
    right: 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.8px;
    text-align: right;

}

.portfolio>div ul>li:nth-child(3),
.portfolio>div ul>li:nth-child(5) {
    color: #C8C0E1;
}

.portfolio>div ul>li:nth-child(4),
.portfolio>div ul>li:nth-child(6) {
    color: #989898;
}

.portfolio>div ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
}

.add_portfolio {
    position: absolute;
    top: 60px;
    left: 50%;
    margin-left: -128px;
    width: 116px;
    height: 128px;
    background-image: url(../images/portfolio/coding.png);
}

/*이전다음버튼*/
.next_prv_btn {}

.next_prv_btn>a {
    display: block;
    position: absolute;
    bottom: 25px;
    width: 50px;
    height: 20px;
    color: #000;
    font-size: 14px;
    outline: 3px solid #000;
    background-color: #fff;
    z-index: 100;
}

.next_prv_btn>a:hover {
    background-color: #FF8300;
}

.next_prv_btn>a:nth-child(1) {
    left: 20px;
}

.next_prv_btn>a:nth-child(2) {
    right: 20px;
}






/*box5*/
.box5>.shadow {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 900;
}

.box5>.shadow>.lightbox {
    position: relative;
    left: 10%;
    top: 10%;
    width: 80%;
    height: 80%;
    color: #000;
    font-weight: 800;
    text-align: center;
    font-size: 17px;
    background-color: #fff;
    text-transform: uppercase;
    outline: 2px solid #A8A8A8;

}

.box5>.shadow>.lightbox>p {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #dedede;

}

/*닫기*/
.box5>.shadow>.lightbox>.clse {
    width: 30px;
    height: 30px;
    font-size: 20px;
    position: absolute;
    top: 0;
    right: 0px;
    color: #A3A3A3;
    background-color: #F1F1F1;
    border: 1px solid #dedede;
    cursor: pointer;
}

.box5>.opn>.goal_mnu {
    display: block;
    position: relative;
    top: -98px;
    left: 62%;
    bottom: 40%;
    padding-left: -10px;
    color: #fff;
    font-size: 60px;
    font-weight: 500;
    text-transform: uppercase;
    width: 160px;
    height: 50px;
}

.box5>.opn>.goal_mnu>div {
    position: absolute;
    top: 135px;
    left: -55px;
    width: 280px;
    text-indent: -9999px;
    z-index: 100;
}

.box5>.opn>.goal_mnu>div>span {
    display: block;
    position: absolute;
    margin-left: 10px;

}

.box5>.opn>.goal_mnu>div>span:nth-child(1) {

    width: 67px;
    height: 95px;
    background-image: url(../images/goal/i.png);
}

.box5>.opn>.goal_mnu>div>span:nth-child(2) {
    left: 77px;
    width: 48px;
    height: 102px;
    background-image: url(../images/goal/luv.png);
}

.box5>.opn>.goal_mnu>div>span:nth-child(3) {
    left: 135px;
    width: 66px;
    height: 95px;
    background-image: url(../images/goal/e.png);
}

.box5>.opn>.goal_mnu>div>span:nth-child(4) {
    left: 211px;
    width: 47px;
    height: 101px;
    background-image: url(../images/goal/j.png);
}

/*hover*/
.box5>.opn:hover>.goal_mnu>div>span:nth-child(1) {
    animation-name: i;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.box5>.opn:hover>.goal_mnu>div>span:nth-child(2) {
    animation-name: luv;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.box5>.opn:hover>.goal_mnu>div>span:nth-child(3) {
    animation-name: e;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.box5>.opn:hover>.goal_mnu>div>span:nth-child(4) {
    animation-name: j;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes i {
    0% {
        top: -20px;
    }

    50% {
        top: 0;
    }

    100% {
        top: -20px;
    }

}

@keyframes luv {
    0% {
        left: 77px;
    }

    30% {
        left: 72px;
    }

    100% {
        left: 77px;
    }

}

@keyframes e {
    0% {
        top: -15px;
    }

    50% {
        top: 0;
    }

    100% {
        top: -15px;
    }

}

@keyframes j {
    0% {
        left: 211px;
    }

    30% {
        left: 213px;
    }

    100% {
        left: 211px;
    }

}

.box5>.opn>.goal_mnu:before {
    display: block;
    margin: 0px 0 20px 130px;
    width: 71px;
    height: 36px;
    background-image: url(../images/click.png);
    content: '';
    animation-name: click;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}



/*문구*/
.goal_text {
    position: relative;
    top: 120px;
}

.goal_text>div {
    width: 70%;
    height: 300px;
    margin-left: 15%;
    outline: 3px solid #000;
    background-color: #fff;
}

.goal_text p {
    display: block;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    color: #000;
    font-weight: 400;
    line-height: 1.6;
}

.box5 .goal_text span {
    display: block;
    position: absolute;
    top: 220px;
    left: 45%;
    margin-left: -45px;
    outline: 111px solod red;
}

.box5 .goal_text span>a {
    display: block;
    position: absolute;
    left: 320px;
    text-indent: -9999px;
    filter: grayscale(1);
}

.box5 .goal_text a:hover {
    filter: grayscale(0);
}

.box5 .goal_text span>a:nth-child(1) {
    width: 40px;
    height: 40px;
    background-image: url(../images/goal/blog.png);
    -webkit-background-size: cover;
    background-size: cover;
}

.box5 .goal_text a:nth-child(2) {
    left: 365px;
    width: 40px;
    height: 40px;
    background-image: url(../images/goal/insta.png);
    -webkit-background-size: cover;
    background-size: cover;
}

.run_ico {
    display: block;
    width: 162px;
    height: 162px;
    background-image: url(../images/running.gif);
}





/* 스타트라인 */
div.start_line {
    position: absolute;
    left: 290px;
    bottom: 87px;
    display: block;
    width: 100px;
    height: 183px;
    background-image: url(../images/ground_start_line.png);
    z-index: 100;
}

/* 페이지네이션 */
#slides .slides-pagination {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 270px;
    text-transform: uppercase;
    background-image: url(../images/ground_01.png);
}

#slides .slides-pagination>ul {
    position: absolute;
    left: 50%;
    margin-left: -270px;
    width: 550px;
    height: 230px;
    /*font-family: 'VT323', monospace;*/
}

#slides .slides-pagination>ul>li {
    position: relative;
    float: left;
    top: 200px;
    z-index: 1100;
}

#slides .slides-pagination>ul>li>a {
    display: block;
    margin-left: 32px;
    color: #fff;
    font-size: 17.5px;
}

/*페이지네이션하단 회색배경*/
#slides .slides-pagination:after {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 83px;
    content: '';
    background-color: gray;
}

/*주황색바*/
.slides-pagination>.bar {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 100;
    margin-left: -234px;
    width: 450px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

/*주황색 바 -> 사이즈 조절해야함 애니메이트!!*/
.slides-pagination>.bar>ol {
    position: absolute;
    top: 10px;
    margin-left: 19px;
    width: 0px;
    /*전체410px*/
    height: 11px;
    background-color: #E46C0A;
}

/*공통*/
.slides-pagination>.bar>ol>li {
    text-indent: -9999px;
}

/*bar*/
.slides-pagination>.bar>ol>li:nth-child(1) {
    left: -4px;
}

.slides-pagination>.bar>ol>li:nth-child(2) {
    left: 92px;
}

.slides-pagination>.bar>ol>li:nth-child(3) {
    left: 193px;
}

.slides-pagination>.bar>ol>li:nth-child(4) {
    left: 302px;
}

.slides-pagination>.bar>ol>li:nth-child(5) {
    left: 400px;
}


.decoration>.me {
    position: fixed;
    bottom: 170px;
    left: 200px;
    width: 162px;
    height: 162px;
    z-index: 200;
}

@media screen and (max-width:768px) {
    div.start_line {
        left: 180px;
        /*수정*/
    }

    .decoration>.me {
        left: 70px;
        /*수정*/
    }
}